*{
	margin: 0;
	padding: 0;
	font-family: 'HanHei SC', 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'STHeitiSC-Light', 'Microsoft Yahei', 'Arial', sans-serif !important;
}
body{
	background: #f2f2f2;
}

.public-width {
	width: 1200px;
	margin: auto;
}
.box-title {
	/* color: #333; */
}
.box-title h3{
	border-left: 3px solid;
	padding-left: 10px;
	height: 20px;
	line-height: 20px;
	font-size: 20px;
}
.box-text {
	display: flex;
	margin: 20px 0;
	justify-content: space-between;
	/* color: #333; */
}
.home-img img{
	width: 550px;
}
.box-text .img-l{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 400px;
	object-fit: cover;
}
.box-text .img-l img{
	max-width: 80%;
}
.box-text div{
	width: 750px;
}
.box-text p{
	line-height: 1.8;
	text-indent: 2em;
	margin: 10px 0;
}
.bylj {
	background-color: #FFFFFF;
	padding: 20px;
	margin: 20px 0;
}
.zuopin{
	margin: 20px 0;
}
.zuopin ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.zuopin ul li{
	list-style: none;
	width: 24%;
	text-align: center;
	margin: 10px 0;
	/* background: #FFFFFF; */
	border-radius: 6px;
}
.zuopin ul li img{
	width: 100%;
	height: 180px;
	object-fit: cover;
}
.zuopin ul li span{
	display: block;
	padding: 10px 0;
	font-size: 16px;
}

